<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Card Making</title>
    <link rel="stylesheet" href="/static/css/anasmita.css">
</head>
<body>
    <div class="card">
        <img src="/static/images/parrot.jpeg" alt="Picture" class="card-img">
        <div class="Details">
            <!--  *** NAME ***  -->
            <h1 style="color:deeppink"> {{ first_n }} {{ last_n }}</h1>

            <!-- *** DEPARTMENT AND COLLEGE ***  -->
            <h2> {{ dept_n }} STUDENT AT {{ college_n }} </h2>
            <button>See Profile</button>
            {% for fruit in fruits %}
                <h3 style="color:blueviolet"> {{ fruit }}</h3>
            {% endfor %}
        </div>
    </div>
</body>
</html>