<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Card Making</title>
    <link rel="stylesheet" href="/static/css/anasmita.css">
</head>
<body>
    <div class="card">
        <img src="/static/images/parrot.jpeg" alt="Picture" class="card-img">
        <div class="Details">
            <h1>Anasmita Math</h1>
            <h3>CSE Student at HIT</h3>
            <button>See Profile</button>
        </div>
    </div>
</body>
</html>