<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Your ML Model</title>
    <link rel="stylesheet" href="/static/css/predict.css">
</head>
<body>
    <!-- 
        input_data = (15,136,70,32,110,37.1,0.153,43)
        # Feature Names 
        feature_names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness',
                        'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
    -->
    <h1>Test Your ML Model</h1>
    <form id="diabetes-form">
        <label for="pregnancies">Pregnancies:</label>
        <input type="number" id="pregnancies" name="pregnancies" required><br><br>

        <label for="glucose">Glucose:</label>
        <input type="number" id="glucose" name="glucose" required><br><br>

        <label for="blood_pressure">Blood Pressure:</label>
        <input type="number" id="blood_pressure" name="blood_pressure" required><br><br>

        <label for="skin_thickness">Skin Thickness:</label>
        <input type="number" id="skin_thickness" name="skin_thickness" required><br><br>

        <label for="insulin">Insulin:</label>
        <input type="number" id="insulin" name="insulin" required><br><br>

        <label for="bmi">BMI:</label>
        <input type="number" step="0.1" id="bmi" name="bmi" required><br><br>

        <label for="dpf">Diabetes Pedigree Function:</label>
        <input type="number" step="0.001" id="dpf" name="dpf" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>
    </form>
    <button type="button" id="predict-btn">Predict</button>

    <h3 id="result-view">Results will be shown here!</h3>

    <script type="text/javascript" src="/static/js/predict.js"></script>
</body>
</html>